@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Roboto+Condensed|Exo');

/* General settings */

body {
	font-family: 'Roboto',sans-serif;
}
a {
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab',serif;
}

/* NavBar customizations */

body.has-fixed-nav {
	margin-top: 4rem;
}
.navbar {
	padding: 0 1rem;
	min-height: calc(3rem + 2px);
}
.nav-link {
	font-size: 1.125rem;
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-dark .nav-link {
	text-shadow: 2px 2px rgba(0,0,0,.25);
}
.navbar-dark .navbar-brand {
	color: rgba(255,255,255,.5);
	text-shadow: 2px 2px rgba(0,0,0,.25);
}
.navbar-dark .navbar-brand:hover,.navbar-dark .navbar-brand:focus {
	color: rgba(255,255,255,.75);
}
.navbar-brand .brand-logo {
	display: inline-block;
	max-height: 2.5rem;
	-webkit-transition: -webkit-transform .5s ease-in-out;
	transition: transform .5s ease-in-out;
}
.navbar-brand:hover .brand-logo {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
.navbar-brand .brand-name {
	font-family: 'Exo','Roboto',sans-serif;
	padding-left: .5rem;
	vertical-align: middle;
	font-size: 1.5rem;
}

/* Circle button */

.circle {
	width: 2.5rem;
	height: 2.5rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255,255,255,.25);
	border-radius: 50%;
	overflow: hidden;
}
a .circle > * {
	-webkit-transition: -webkit-transform .5s ease-in-out;
	transition: transform .5s ease-in-out;
}
a:hover .circle > *,a:hover .circle > * {
	transform: scale(1.25);
}

/* Other customizations */

label {
	margin: 0;
	font-family: 'Roboto Condensed',sans-serif;
	font-size: small;
	font-style: italic;
}
textarea {
	padding-top: calc(.375rem + 1px);
}
textarea.text-html {
	font-family: monospace;
}
button {
	cursor: pointer;
}
figure {
	margin: .125rem;
}
figcaption {
	font-size: smaller;
	font-style: italic;
	text-align: center;
}
select.form-control-sm {
	height: calc(1.8125rem + 2px) !important;
}
.custom-file-control:before {
	content: "\f002" !important;
	font-family: FontAwesome !important;
	font-size: 1rem;
	font-style: normal;
	background: #ff7518;
	border: none;
}

.img-selectable img {
	opacity: .75;
	-webkit-opacity: .75;
}
.img-selectable:hover {
	cursor: pointer;
}
.img-selectable:hover img {
	opacity: 1;
	-webkit-opacity: 1;
}

.align-middle {
	align-self: center;
}
.btn-sm, .btn-group-sm > .btn {
	margin: 0 .25rem;
}

.form-inline {
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
}